#content {
  width: 400px;
  height: 200px;
  margin: 5px;
  padding: 5px;
  border: 1px #777 solid;
  overflow-y: scroll;
  font-family: sans-serif;
  font-size: 13px;
  list-style-type: none;
}
#content li:nth-child(even) {
  background: #eee;
}
#input {
  width: 330px;
  height: 30px;
  margin: 5px;
  margin-top: 0px;
  margin-right: 0px;
  padding-left: 3px;
  font-size: 17px;
}
#button {
  width: 70px;
  height: 35px;
  margin: 5px;
  font-size: 17px;
  margin-top: 0px;
}
#bg {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#url {
  margin: 70px;
  padding: 20px;
  font-size: 40px;
  font-family: "나눔고딕";
  color: #FFF;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}