body {
    width:100%;
    height:100%;
}

#floater {
    float: left;
    height:50%;
    margin-bottom: 150px;
}
@font-face {
    font-family: "bang";
    src: url("Western Bang Bang.otf");
}
#content {
    clear: both;
    text-align: center;
    position: relative;
    font-family: "Courier New";
    font-size: 48px;
    font-variant: small-caps; 
}
#bang {
    clear: both;
    text-align: center;
    position: relative;
    font-family: bang;
    font-size: 64px;
}
